@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smoother font rendering */
html, body { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
